
* {
    margin: 0 auto;
    padding: 20;
  }

  body {
    width: 100%;
    background-color:white;
}

  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
    font-size: 30px;
    font-family: sans-serif;
  }
  
  a {
    outline: none;
    text-decoration:none;
    display: inline-block;
    width: 20%;
    margin-right: 0;
    text-align: center;
    justify-content: center;
    line-height: 2;
    color: gray;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: white;
  }
  
  a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
  filter:none;
  }
  
  a:active {
    background: #33B5BB;
    color: white;
  }


div.template {
    background-image: url(images/image1/desk.jpg);
    background-size: 100%;
    height: 500px;
    background-repeat:no-repeat;   
}

h1 {
    font-size: 40px;
    width: 60%;
    padding-top: 70px;
    text-align: center;
    justify-content: center;
    font-family:fantasy;
    margin: 0 auto;
}

.text {
    font-size: 20px;
    width: 60%;
    color: gray;
    padding: 40px;
    text-align: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    margin: 0 auto;
}


h2 {
    width: 60%;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 80px;
    padding-bottom: 70px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    
}


.container {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 600px;
        align-items: center;
        flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 300px;
    border-style:outset;
    padding: 20px;
    border-radius: 10%;
    background: rgb(217, 238, 243);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
strong {
        font-size: 30px;
}

p {
    font-family: sans-serif;
}

div.template2 {
    background-image: url(images/image2/coffee.jpg);
    background-size: 100%;
    height: 500px;
    background-repeat:no-repeat;
    
}

h6 {
    width: 60%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

h3 {
    width: 80%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


form {
    width: 60%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    padding-bottom: 30px;
    text-align: center;
    justify-content:space-around;
    margin: 0 auto;
}

input {
    size: 40px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-color: gray;
}


.footcontainer {
    background-color:#03ABC2 ;
    color: white;
    font-family: sans-serif;
    height: 400px;
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
}

.footbox {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h4 {
    width: 70%;
    font-size: 50px;
    padding-top: 10px;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

}

.redes-container {
  display: flex;;
  height: 40vh;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-inline: 5px;
  
}

.redes-container ul li{
  display:inline-block;
  margin: 0 5px;
  width: 50px;
  height: 20px;
  text-align: center;
}

.redes-container ul li a{
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
}

.redes-container ul:hover a{
  filter:blur(2px);
}

.redes-container ul li a:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
  filter:none;
}

.redes-container .map{
  display: inline-block;
}
.map {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0%;
 
  
}
.copyright {
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}