nav {
    padding: 30px;
    border: 2px solid blue
    display: flex;
    }
    .item {
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;
        padding: 40px;
        margin: 0 auto;
        
    }
    img {
        height: 50px;
        padding-right: 30px;